*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#07152d;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#091b3d;
}

.logo{
font-size:36px;
font-weight:bold;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
font-size:22px;
}

.hero{
text-align:center;
padding:80px 20px;
}

.hero h1{
font-size:60px;
margin:10px;
}

.hero p{
font-size:24px;
margin-top:20px;
color:#cbd5e1;
}

.buttons{
margin-top:30px;
}

.buttons button{
padding:15px 35px;
margin:10px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
font-size:18px;
cursor:pointer;
}

.features{
display:flex;
justify-content:center;
gap:30px;
padding:60px;
flex-wrap:wrap;
}

.card{
background:#13294b;
padding:30px;
border-radius:15px;
width:300px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
background:#2563eb;
}